#leftPane{
    -fx-background-color: #344955;
    -fx-alignment: top_center;
}
#toolPane{
    -fx-background-color: #344955;
    -fx-alignment: center_left;
}
#optionsDashBoard {
    -fx-cursor: hand;
    -fx-content-display: center;
}
#menuOptions{
    -fx-font-family: "Roboto";
    -fx-opacity: 0.5;
    -fx-pref-width: 200;
    -fx-font-size: 22;
    -fx-text-fill: #eeeeee;
    -fx-text-overrun: clip;
    -fx-alignment: center;
    -fx-cursor: hand;
}
#avatarImage{
    -fx-pref-width: 40;
    -fx-pref-height: 40;
}
#userName{
    -fx-font-family: "Roboto";
    -fx-text-fill: #eeeeee;
    -fx-text-overrun: clip;
    -fx-alignment: center;
    -fx-opacity: 1;
    -fx-font-size: 20;
}

.separator{
    visibility: false;
}

#lineSeparator{
    visibility: true;
}

